.post{
    display: grid;
    grid-template-columns: 10% 48% auto;
    width: 100%;
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    color: #474955;
    border:1px solid #E3E6EC;
    border-top: none;
}
.post__id{
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    color: #474955;
    border-right: 1px solid #E3E6EC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post__title{
    border-right: 1px solid #E3E6EC;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post__description{
    padding:12px;
    display: flex;
    align-items: center;
    justify-content: center;
}